<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.titchy.toiso</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/toiso</string>
		<string>/Users/titchy/Movies/Rips</string>
		<string>/Volumes/Drobo/Media/Incoming</string>
	</array>
	<key>StartInterval</key>
	<integer>1200</integer>
</dict>
</plist>
